# Project 1

In this first project you will create a framework to scope out data science projects. This framework will provide you with a guide to develop a well-articulated problem statement and analysis plan that will be robust and reproducible.

### Read and evaluate the following problem statement: 
Determine which free-tier customers will covert to paying customers, using demographic data collected at signup (age, gender, location, and profession) and customer useage data (days since last log in, and activity score `1 = active user`, `0 = inactive user`) based on Hooli data from Jan-Apr 2015.

#### 1. What is the outcome?

Answer: Free-tier customers converting to paying customers

#### 2. What are the predictors/covariates?

Answer:  demographic data (age, gender, location and profession) and customer usage data (days since last log in, and activity score 1 = active user, 0 = inactive user)

#### 3. What timeframe is this data relevant for?

Answer: January 2015 April 2015

#### 4. What is the hypothesis?

Answer: Does demographic data and customer usage (active versus inactive) have an influence in prediciting if free-tier customers will converting to paying customer

## Let's get started with our dataset

In [7]:
import os
import numpy as np
import pandas as pd

# If you checked-out the GitHub repository, the UCLA dataset is under ../assets/admissions.csv (relative to this file)
path = os.path.join('..', 'assets', 'admissions.csv')

"""""
# Alternative: Get the dataset directly online...
path = 'http://github.com/ga-students/sf-dat-21/raw/master/unit-projects/dataset/admissions.csv'
"""""

df = pd.read_csv(path)

df.head()

   admit  gre   gpa  prestige
0      0  380  3.61         3
1      1  660  3.67         3
2      1  800  4.00         1
3      1  640  3.19         4
4      0  520  2.93         4

In [8]:
df.describe

<bound method DataFrame.describe of      admit  gre   gpa  prestige
0        0  380  3.61         3
1        1  660  3.67         3
2        1  800  4.00         1
3        1  640  3.19         4
4        0  520  2.93         4
5        1  760  3.00         2
6        1  560  2.98         1
7        0  400  3.08         2
8        1  540  3.39         3
9        0  700  3.92         2
10       0  800  4.00         4
11       0  440  3.22         1
12       1  760  4.00         1
13       0  700  3.08         2
14       1  700  4.00         1
15       0  480  3.44         3
16       0  780  3.87         4
17       0  360  2.56         3
18       0  800  3.75         2
19       1  540  3.81         1
20       0  500  3.17         3
21       1  660  3.63         2
22       0  600  2.82         4
23       0  680  3.19         4
24       1  760  3.35         2
25       1  800  3.66         1
26       1  620  3.61         1
27       1  520  3.74         4
28       1  780  3.22         2
29       0  520  3.29         1
..     ...  ...   ...       ...
370      1  540  3.77         2
371      1  680  3.76         3
372      1  680  2.42         1
373      1  620  3.37         1
374      0  560  3.78         2
375      0  560  3.49         4
376      0  620  3.63         2
377      1  800  4.00         2
378      0  640  3.12         3
379      0  540  2.70         2
380      0  700  3.65         2
381      1  540  3.49         2
382      0  540  3.51         2
383      0  660  4.00         1
384      1  480  2.62         2
385      0  420  3.02         1
386      1  740  3.86         2
387      0  580  3.36         2
388      0  640  3.17         2
389      0  640  3.51         2
390      1  800  3.05         2
391      1  660  3.88         2
392      1  600  3.38         3
393      1  620  3.75         2
394      1  460  3.99         3
395      0  620  4.00         2
396      0  560  3.04         3
397      0  460  2.63         2
398      0  700  3.65         2
399      0  600  3.89         3

[400 rows x 4 columns]>

In [6]:
df.head()

   admit  gre   gpa  prestige
0      0  380  3.61         3
1      1  660  3.67         3
2      1  800  4.00         1
3      1  640  3.19         4
4      0  520  2.93         4

#### 1. Create a data dictionary

Answer (Use the template below): 

Variable | Description | Type of Variable
---| ---| ---
Var 1 | 0 = not thing 1 = thing | categorical
Var 2 | thing in unit X | continuous

We would like to explore the association between X and Y

#### 2. What is the outcome?

Answer:admittance into UCLA

#### 3. What are the predictors/covariates?

Answer: GRE score, undergraduate GPA, & Prestige

#### 4. What timeframe is this data relevant for?

Answer: not sure. would need more information. from the .csv file its not clear what the data range is

#### 4. What is the hypothesis?

Answer: Does GRE score, GPA, and Prestige (assuming undergrad) have an effect on admission rate into UCLA ?

    Using the above information, write a well-formed problem statement. 
    
        From the UCLA data set, I am interested in the following:
                Who are the students, that are getting admit into UCLA- so other demographics(gender, race, job     roles, undegrad major)
            what-are the professional backgrounds of students that are getting admitted?
            when- would need to have a specific data range, but it would be interesting from 2006-2010
            Where- Generally, where are students coming from geogrpahically? (hometown location)

## Problem Statement

### Exploratory Analysis Plan

Using the lab from a class as a guide, create an exploratory analysis plan.

#### 1. What are the goals of the exploratory analysis?

Answer: to determine whether the citibike data is normal, skewed to the left or right
        summary stat- mean, median, mode,

#### 2a. What are the assumptions of the distribution of data?

Answer: I would assume that the data for the citibike would follow a normal distribution

#### 2b. How will determine the distribution of your data?

Answer: plotting the data to test for skewness and kurtosis

#### 3a. How might outliers impact your analysis?

Answer: outliers could skewed the mean either high or low. Will compare against the median to determine if mean varies greatly +- from the median

#### 3b. How will you test for outliers?

Answer: plotting the data (using a line graph) you can see if there are outlier based on

#### 4a. What is collinearity?

Answer: Colinearity is when you have two independent variable that are highly correleated amongst each other.

#### 4b. How will you test for collinearity?

Answer: df.corr

#### 5. What is your exploratory analysis plan?
Using the above information, write an exploratory analysis plan that would allow you or a colleague to reproduce your analysis one year from now.

Answer:

## Bonus Questions:
1. Outline your analysis method for predicting your outcome
2. Write an alternative problem statement for your dataset
3. Articulate the assumptions and risks of the alternative model