In [1]:
import pandas as pd
import os

data =pd.read_csv("lesson-02/assets/dataset/ozone.csv")

In [2]:
data.columns.values

array(['Ozone', 'Solar.R', 'Wind', 'Temp', 'Month', 'Day'], dtype=object)

In [8]:
for x in data.columns.values:
    print x

Ozone
Solar.R
Wind
Temp
Month
Day

In [41]:
data.head(2)
data[0:2]

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2

In [11]:
len(data)

153

In [42]:

data[47:48]
data.iloc[46]

Ozone       21.0
Solar.R    191.0
Wind        14.9
Temp        77.0
Month        6.0
Day         16.0
Name: 46, dtype: float64

In [20]:
data.ozone?

Object `data.ozone` not found.

In [21]:
data.columns?

In [23]:
data['Ozone'].isnull().sum()

37

In [29]:
data['Ozone'].mean(skipna=True)

42.12931034482759

In [35]:
data[(data.Ozone > 31) & (data.Temp > 90)]['Solar.R'].mean()

212.8

In [38]:
data[(data.Month == 6)]['Temp'].mean()

79.1

In [39]:
data[(data.Month ==5)]['Ozone'].max()

115.0