# Lesson 3 Lab:  Practical Pandas

_This is a quiz given in Roger Peng's [Coursera](https://www.coursera.org) class [Computing for Data Analysis](https://www.coursera.org/course/compdata).  _

_Sourced from [Research Computing MeetUp's](https://github.com/ResearchComputing/Meetup-Fall-2013) Python course._

In [2]:
import pandas as pd
import os

data = pd.read_csv(os.path.join('DAT-NYC-37', 'lessons', 'lesson-02', 'assets', 'dataset', 'ozone.csv'))

In [12]:
data.columns.values

array(['Ozone', 'Solar.R', 'Wind', 'Temp', 'Month', 'Day'], dtype=object)

Print the column names of the dataset to the screen, one column name per line.

In [5]:
for d in data:
    print d

Ozone
Solar.R
Wind
Temp
Month
Day

Extract the first 2 rows of the data frame and print them to the console. What does the output
look like?

In [6]:
data[0:2]

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2

In [1]:
data.head(2)

NameError: name 'data' is not defined

How many observations (i.e. rows) are in this data frame?

In [9]:
len(data)

153

Extract the last 2 rows of the data frame and print them to the console. What does the output
look like?

In [11]:
data.tail(2)
data[-2:]

     Ozone  Solar.R  Wind  Temp  Month  Day
151   18.0    131.0   8.0    76      9   29
152   20.0    223.0  11.5    68      9   30

What is the value of Ozone in the 47th row?

In [17]:
data['Ozone'][46]
data['Ozone'].loc[46]

21.0

How many missing values are in the Ozone column of this data frame?

In [83]:
data['Ozone'].count()

116

In [80]:
data['Ozone'].isnull().sum()

37

In [96]:
data.Ozone.isnull().sum()

37

What is the mean of the Ozone column in this dataset? Exclude missing values (coded as NA)
from this calculation.

In [34]:
data['Ozone'].mean()

42.12931034482759

In [13]:
data.mean(skipna=True)

Ozone       42.129310
Solar.R    185.931507
Wind         9.957516
Temp        77.882353
Month        6.993464
Day         15.803922
dtype: float64

Extract the subset of rows of the data frame where Ozone values are above 31 and Temp values
are above 90. What is the mean of Solar.R in this subset?

In [75]:
data[(data['Ozone'] > 31) & (data['Temp'] > 90)]['Solar.R'].mean()

212.8

In [69]:
data.loc[(data['Ozone'] > 31) & (data['Temp'] > 90)]['Solar.R'].mean()

212.8

In [14]:
data[data['Ozone'] > 31]['Solar.R'].mean()

215.05454545454546

What is the mean of "Temp" when "Month" is equal to 6?

In [58]:
data[data['Month'] == 6]['Temp'].mean()

79.1

What was the maximum ozone value in the month of May (i.e. Month = 5)?

In [59]:
data[data['Month'] == 5]['Ozone'].max()

115.0

# Next Steps

**Recommended Resources**

Name | Description
--- | ---
[Official Pandas Tutorials](http://pandas.pydata.org/pandas-docs/stable/tutorials.html) | Wes & Company's selection of tutorials and lectures
[Julia Evans Pandas Cookbook](https://github.com/jvns/pandas-cookbook) | Great resource with eamples from weather, bikes and 311 calls
[Learn Pandas Tutorials](https://bitbucket.org/hrojas/learn-pandas) | A great series of Pandas tutorials from Dave Rojas
[Research Computing Python Data PYNBs](https://github.com/ResearchComputing/Meetup-Fall-2013/tree/master/python) | A super awesome set of python notebooks from a meetup-based course exclusively devoted to pandas