# Project 1

In this first project you will create a framework to scope out data science projects. This framework will provide you with a guide to develop a well-articulated problem statement and analysis plan that will be robust and reproducible.

### Read and evaluate the following problem statement: 
Determine which free-tier customers will covert to paying customers, using demographic data collected at signup (age, gender, location, and profession) and customer useage data (days since last log in, and activity score 1 = active user, 0= inactive user) based on Hooli data from Jan-Apr 2015.

#### 1. What is the outcome?

Answer: A prediction model for customer conversion from free trial to paid

#### 2. What are the predictors/covariates?

Answer: Demographic information of customer, usage data

#### 3. What timeframe is this data relevant for?

Answer: Jan-Apr 2015

#### 4. What is the hypothesis?

Answer: That demographic and usage data will be a helpful predictor of if a user will convert from free trial to paid.

## Let's get started with our dataset

#### 1. Create a data dictionary

Answer: 

Variable | Description | Type of Variable
---| ---| ---
Admit | 1 = admitted 0= not admitted | boolean
Gre | GRE score | integer 
GPA | Undergrad GPA | decimal 
Prestige | Ranking of undergrand school | integer

We would like to explore the association between X and Y

#### 2. What is the outcome?

Answer: A predictive score if gre, gpa, and presitige of undergrad insitution can determine admittance to grad school

#### 3. What are the predictors/covariates?

Answer: Gre score, GPA, and presitige of school

#### 4. What timeframe is this data relevant for?

Answer: unclear

#### 4. What is the hypothesis?

Answer: that the above variable will be able to predict if someone will get into grad school

    Using the above information, write a well-formed problem statement.

## Problem Statement

### Exploratory Analysis Plan

Using the lab from a class as a guide, create an exploratory analysis plan.

#### 1. What are the goals of the exploratory analysis?

Answer: See patterns in the data including related variables, corrleations, skewness/kurtosis of the distribution.

#### 2a. What are the assumptions of the distribution of data?

Answer: That the distribution of GRE, GPA, prestige will be related to admittance and that these variables will be centered around one mean.

#### 2b. How will determine the distribution of your data?

Answer: Visualize a histogram of each variable as well as look at summary statistics.

#### 3a. How might outliers impact your analysis?

Answer: Outliers could impact the mean by making it appear higher or lower than it otherwise would, and potentially not be as representative as we would like.

#### 3b. How will you test for outliers?

Answer: Look at the distribution and see if there are any factors that are way outside the standard deviation.

#### 4a. What is collinearity?

Answer: It describes the tendency for two variables to move directionally with each other.  They have a perfectly linear relationship if their collinearity is 1. If they are closely correlated then they are not independently adding new information to a regression and can be combined.

#### 4b. How will you test for collinearity?

Answer: You can build a heatmap which relates all variables to all other variables, and shows the correlation score for each match.

#### 5. What is your exploratory analysis plan?
Using the above information, write an exploratory analysis plan that would allow you or a colleague to reproduce your analysis one year from now.

Answer: Load all the values into a pandas dataframe.  Look at summary description of each variable.  Plot the distribution using matplotlib.  Then look at correlation matrix between all the variables.

In [11]:
import pandas as pd
#from pandas import DataFrame,Series as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

#path='C:\\Anaconda2\\DAT-NYC-37\\projects\\unit-projects\\project-1\\assets\\admissions.csv'
df=pd.read_csv('admissions.csv', header=0, index_col=False, parse_dates=False)
df.describe()

            admit         gre        gpa    prestige
count  400.000000  398.000000  398.00000  399.000000
mean     0.317500  588.040201    3.39093    2.486216
std      0.466087  115.628513    0.38063    0.945333
min      0.000000  220.000000    2.26000    1.000000
25%      0.000000  520.000000    3.13000    2.000000
50%      0.000000  580.000000    3.39500    2.000000
75%      1.000000  660.000000    3.67000    3.000000
max      1.000000  800.000000    4.00000    4.000000

In [26]:
df['grade_range']=pd.cut(df['gpa'],[0,1,2,3,4])
df.head()

   admit  gre   gpa  prestige grade_range
0      0  380  3.61         3      (3, 4]
1      1  660  3.67         3      (3, 4]
2      1  800  4.00         1      (3, 4]
3      1  640  3.19         4      (3, 4]
4      0  520  2.93         4      (2, 3]

In [39]:
admitted = np.where(df['admit']>0,'Yes','no')
grouping = df.groupby(['prestige','grade_range'], as_index=False)
grouping.head()

     admit  gre   gpa  prestige grade_range
0        0  380  3.61         3      (3, 4]
1        1  660  3.67         3      (3, 4]
2        1  800  4.00         1      (3, 4]
3        1  640  3.19         4      (3, 4]
4        0  520  2.93         4      (2, 3]
5        1  760  3.00         2      (2, 3]
6        1  560  2.98         1      (2, 3]
7        0  400  3.08         2      (3, 4]
8        1  540  3.39         3      (3, 4]
9        0  700  3.92         2      (3, 4]
10       0  800  4.00         4      (3, 4]
11       0  440  3.22         1      (3, 4]
12       1  760  4.00         1      (3, 4]
13       0  700  3.08         2      (3, 4]
14       1  700  4.00         1      (3, 4]
15       0  480  3.44         3      (3, 4]
16       0  780  3.87         4      (3, 4]
17       0  360  2.56         3      (2, 3]
18       0  800  3.75         2      (3, 4]
19       1  540  3.81         1      (3, 4]
20       0  500  3.17         3      (3, 4]
21       1  660  3.63         2      (3, 4]
22       0  600  2.82         4      (2, 3]
23       0  680  3.19         4      (3, 4]
27       1  520  3.74         4      (3, 4]
37       0  520  2.90         3      (2, 3]
39       1  520  2.68         3      (2, 3]
40       0  560  2.42         2      (2, 3]
44       0  700  2.94         2      (2, 3]
47       0  500  2.97         4      (2, 3]
48       0  440  2.48         4      (2, 3]
57       0  380  2.94         3      (2, 3]
59       0  600  2.82         4      (2, 3]
82       0  500  2.71         2      (2, 3]
85       0  520  2.98         2      (2, 3]
108      0  400  2.93         3      (2, 3]
148      1  480  2.91         1      (2, 3]
187      0  NaN   NaN         2         NaN
216      0  340  2.90         1      (2, 3]
218      0  460  2.98         1      (2, 3]
236      1  660   NaN       NaN         NaN
294      0  480  2.55         1      (2, 3]

In [33]:
grouping2 =grouping.size().unstack().fillna(0)
grouping2

grade_range  (2, 3]  (3, 4]
prestige
1                 8      53
2                27     122
3                21     100
4                14      53

## Bonus Questions:
1. Outline your analysis method for predicting your outcome
2. Write an alternative problem statement for your dataset
3. Articulate the assumptions and risks of the alternative model