# Lesson 3 Lab:  Practical Pandas

_This is a quiz given in Roger Peng's [Coursera](https://www.coursera.org) class [Computing for Data Analysis](https://www.coursera.org/course/compdata).  _

_Sourced from [Research Computing MeetUp's](https://github.com/ResearchComputing/Meetup-Fall-2013) Python course._

In [28]:
import pandas as pd
import os
import numpy as np
path='/Users/Carlina/Documents/DataScience/DAT-NYC-37-master/DAT-NYC-37/lessons/lesson-02/assets/dataset/ozone.csv'
data = pd.read_csv(path, header=0)
#print data

In [12]:
data.columns.values

array(['Ozone', 'Solar.R', 'Wind', 'Temp', 'Month', 'Day'], dtype=object)

Print the column names of the dataset to the screen, one column name per line.

In [13]:
for i in data.columns.values:
    print i

Ozone
Solar.R
Wind
Temp
Month
Day

Extract the first 2 rows of the data frame and print them to the console. What does the output
look like?

In [14]:
data.head(2)

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2

How many observations (i.e. rows) are in this data frame?

In [16]:
data.info()
#len(data.index)
#len(data)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 6 columns):
Ozone      116 non-null float64
Solar.R    146 non-null float64
Wind       153 non-null float64
Temp       153 non-null int64
Month      153 non-null int64
Day        153 non-null int64
dtypes: float64(3), int64(3)
memory usage: 7.2 KB

Extract the last 2 rows of the data frame and print them to the console. What does the output
look like?

In [17]:
data.tail(2)

     Ozone  Solar.R  Wind  Temp  Month  Day
151   18.0    131.0   8.0    76      9   29
152   20.0    223.0  11.5    68      9   30

What is the value of Ozone in the 47th row?

In [33]:
data.loc[46,('Ozone')]

21.0

How many missing values are in the Ozone column of this data frame?

In [34]:
#len(data.index)-data['Ozone'].count()
no_data=data['Ozone'].isnull()
count = 0
for i in no_data:
    if i==True:
        count+=1
        print count
data['Ozone'].isnull().sum()

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37

37

What is the mean of the Ozone column in this dataset? Exclude missing values (coded as NA)
from this calculation.

In [13]:
data.mean(skipna=True)

Ozone       42.129310
Solar.R    185.931507
Wind         9.957516
Temp        77.882353
Month        6.993464
Day         15.803922
dtype: float64

Extract the subset of rows of the data frame where Ozone values are above 31 and Temp values
are above 90. What is the mean of Solar.R in this subset?

In [35]:
data[data['Ozone'] > 31]['Solar.R'].mean()
sum(data['Ozone'] > 31)

58

What is the mean of "Temp" when "Month" is equal to 6?

In [37]:
data[data['Month']==6]["Temp"].mean()

79.1

What was the maximum ozone value in the month of May (i.e. Month = 5)?

In [38]:
data[data['Month']==5]["Ozone"].max()

115.0

# Next Steps

**Recommended Resources**

Name | Description
--- | ---
[Official Pandas Tutorials](http://pandas.pydata.org/pandas-docs/stable/tutorials.html) | Wes & Company's selection of tutorials and lectures
[Julia Evans Pandas Cookbook](https://github.com/jvns/pandas-cookbook) | Great resource with eamples from weather, bikes and 311 calls
[Learn Pandas Tutorials](https://bitbucket.org/hrojas/learn-pandas) | A great series of Pandas tutorials from Dave Rojas
[Research Computing Python Data PYNBs](https://github.com/ResearchComputing/Meetup-Fall-2013/tree/master/python) | A super awesome set of python notebooks from a meetup-based course exclusively devoted to pandas