# Project 3

In this project, you will perform a logistic regression on the admissions data we've been working with in projects 1 and 2.

In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import statsmodels.api as sm
import pylab as pl
import numpy as np

In [2]:
df_raw = pd.read_csv("../assets/admissions.csv")
df = df_raw.dropna() 
print df.head()

   admit    gre   gpa  prestige
0      0  380.0  3.61       3.0
1      1  660.0  3.67       3.0
2      1  800.0  4.00       1.0
3      1  640.0  3.19       4.0
4      0  520.0  2.93       4.0

## Part 1. Frequency Tables

#### 1. Let's create a frequency table of our variables

In [4]:
# frequency table for prestige and whether or not someone was admitted
pd.crosstab(df['admit'], df['prestige'])

prestige  1.0  2.0  3.0  4.0
admit
0          28   95   93   55
1          33   53   28   12

## Part 2. Return of dummy variables

#### 2.1 Create class or dummy variables for prestige

In [12]:
prestige_dummies = pd.get_dummies(df['prestige'], prefix='prestige')
prestige_dummies

     prestige_1.0  prestige_2.0  prestige_3.0  prestige_4.0
0             0.0           0.0           1.0           0.0
1             0.0           0.0           1.0           0.0
2             1.0           0.0           0.0           0.0
3             0.0           0.0           0.0           1.0
4             0.0           0.0           0.0           1.0
5             0.0           1.0           0.0           0.0
6             1.0           0.0           0.0           0.0
7             0.0           1.0           0.0           0.0
8             0.0           0.0           1.0           0.0
9             0.0           1.0           0.0           0.0
10            0.0           0.0           0.0           1.0
11            1.0           0.0           0.0           0.0
12            1.0           0.0           0.0           0.0
13            0.0           1.0           0.0           0.0
14            1.0           0.0           0.0           0.0
15            0.0           0.0           1.0           0.0
16            0.0           0.0           0.0           1.0
17            0.0           0.0           1.0           0.0
18            0.0           1.0           0.0           0.0
19            1.0           0.0           0.0           0.0
20            0.0           0.0           1.0           0.0
21            0.0           1.0           0.0           0.0
22            0.0           0.0           0.0           1.0
23            0.0           0.0           0.0           1.0
24            0.0           1.0           0.0           0.0
25            1.0           0.0           0.0           0.0
26            1.0           0.0           0.0           0.0
27            0.0           0.0           0.0           1.0
28            0.0           1.0           0.0           0.0
29            1.0           0.0           0.0           0.0
..            ...           ...           ...           ...
370           0.0           1.0           0.0           0.0
371           0.0           0.0           1.0           0.0
372           1.0           0.0           0.0           0.0
373           1.0           0.0           0.0           0.0
374           0.0           1.0           0.0           0.0
375           0.0           0.0           0.0           1.0
376           0.0           1.0           0.0           0.0
377           0.0           1.0           0.0           0.0
378           0.0           0.0           1.0           0.0
379           0.0           1.0           0.0           0.0
380           0.0           1.0           0.0           0.0
381           0.0           1.0           0.0           0.0
382           0.0           1.0           0.0           0.0
383           1.0           0.0           0.0           0.0
384           0.0           1.0           0.0           0.0
385           1.0           0.0           0.0           0.0
386           0.0           1.0           0.0           0.0
387           0.0           1.0           0.0           0.0
388           0.0           1.0           0.0           0.0
389           0.0           1.0           0.0           0.0
390           0.0           1.0           0.0           0.0
391           0.0           1.0           0.0           0.0
392           0.0           0.0           1.0           0.0
393           0.0           1.0           0.0           0.0
394           0.0           0.0           1.0           0.0
395           0.0           1.0           0.0           0.0
396           0.0           0.0           1.0           0.0
397           0.0           1.0           0.0           0.0
398           0.0           1.0           0.0           0.0
399           0.0           0.0           1.0           0.0

[397 rows x 4 columns]

#### 2.2 When modeling our class variables, how many do we need?

Answer: One of the dummy variables from each class being modeled should be dropped in order to avoid multicollinearity.

## Part 3. Hand calculating odds ratios

Develop your intuition about expected outcomes by hand calculating odds ratios.

In [17]:
cols_to_keep = ['admit', 'gre', 'gpa']
handCalc = df[cols_to_keep].join(prestige_dummies.ix[:, 'prestige_1.0':])
print handCalc.head()

   admit    gre   gpa  prestige_1.0  prestige_2.0  prestige_3.0  prestige_4.0
0      0  380.0  3.61           0.0           0.0           1.0           0.0
1      1  660.0  3.67           0.0           0.0           1.0           0.0
2      1  800.0  4.00           1.0           0.0           0.0           0.0
3      1  640.0  3.19           0.0           0.0           0.0           1.0
4      0  520.0  2.93           0.0           0.0           0.0           1.0

In [18]:
#crosstab prestige 1 admission 
# frequency table cutting prestige and whether or not someone was admitted
pd.crosstab(df['admit'], prestige_dummies['prestige_1.0'])

prestige_1.0  0.0  1.0
admit
0             243   28
1              93   33

#### 3.1 Use the cross tab above to calculate the odds of being admitted to grad school if you attended a #1 ranked college

In [27]:
33/28.0

1.1785714285714286

#### 3.2 Now calculate the odds of admission if you did not attend a #1 ranked college

In [30]:
93/243.0

0.38271604938271603

#### 3.3 Calculate the odds ratio

In [28]:
(33*243)/(93*28.0)

3.0794930875576036

#### 3.4 Write this finding in a sentenance:

Answer: The odds of being accepted increase greatly for applicants from an undergrad with a prestige rank of 1.

#### 3.5 Print the cross tab for prestige_4

In [31]:
pd.crosstab(df['admit'], prestige_dummies['prestige_4.0'])

prestige_4.0  0.0  1.0
admit
0             216   55
1             114   12

#### 3.6 Calculate the OR

In [33]:
(12*216)/(114*55.0)

0.4133971291866029

#### 3.7 Write this finding in a sentence

Answer: The odds of being accepted decrease significantly for applicants from an undergrad with a prestige rank of 4.

## Part 4. Analysis

In [36]:
# create a clean data frame for the regression
cols_to_keep = ['admit', 'gre', 'gpa']
data = df[cols_to_keep].join(prestige_dummies.ix[:, 'prestige_2.0':])
print data.head()

   admit    gre   gpa  prestige_2.0  prestige_3.0  prestige_4.0
0      0  380.0  3.61           0.0           1.0           0.0
1      1  660.0  3.67           0.0           1.0           0.0
2      1  800.0  4.00           0.0           0.0           0.0
3      1  640.0  3.19           0.0           0.0           1.0
4      0  520.0  2.93           0.0           0.0           1.0

We're going to add a constant term for our Logistic Regression. The statsmodels function we're going to be using requires that intercepts/constants are specified explicitly.

In [37]:
# manually add the intercept
data['intercept'] = 1.0

#### 4.1 Set the covariates to a variable called train_cols

In [58]:
train_cols = ['gre', 'gpa', 'prestige_2.0', 'prestige_3.0', 'prestige_4.0', 'intercept']

#### 4.2 Fit the model

In [59]:
logit = sm.Logit(data['admit'], data[train_cols])

result = logit.fit()

Optimization terminated successfully.
         Current function value: 0.573854
         Iterations 6

#### 4.3 Print the summary results

In [60]:
print result.summary()

                           Logit Regression Results
==============================================================================
Dep. Variable:                  admit   No. Observations:                  397
Model:                          Logit   Df Residuals:                      391
Method:                           MLE   Df Model:                            5
Date:                Tue, 19 Jul 2016   Pseudo R-squ.:                 0.08166
Time:                        21:16:42   Log-Likelihood:                -227.82
converged:                       True   LL-Null:                       -248.08
                                        LLR p-value:                 1.176e-07
================================================================================
                   coef    std err          z      P>|z|      [95.0% Conf. Int.]
--------------------------------------------------------------------------------
gre              0.0022      0.001      2.028      0.043      7.44e-05     0.004
gpa              0.7793      0.333      2.344      0.019         0.128     1.431
prestige_2.0    -0.6801      0.317     -2.146      0.032        -1.301    -0.059
prestige_3.0    -1.3387      0.345     -3.882      0.000        -2.015    -0.663
prestige_4.0    -1.5534      0.417     -3.721      0.000        -2.372    -0.735
intercept       -3.8769      1.142     -3.393      0.001        -6.116    -1.638
================================================================================

#### 4.4 Calculate the odds ratios of the coeffiencents and their 95% CI intervals

hint 1: np.exp(X)

hint 2: conf['OR'] = params
        
           conf.columns = ['2.5%', '97.5%', 'OR']

In [61]:
print np.exp(result.params)

gre             1.002221
gpa             2.180027
prestige_2.0    0.506548
prestige_3.0    0.262192
prestige_4.0    0.211525
intercept       0.020716
dtype: float64

In [62]:
params = result.params
conf = result.conf_int()

print params
print conf

gre             0.002218
gpa             0.779337
prestige_2.0   -0.680137
prestige_3.0   -1.338677
prestige_4.0   -1.553411
intercept      -3.876854
dtype: float64
                     0         1
gre           0.000074  0.004362
gpa           0.127619  1.431056
prestige_2.0 -1.301337 -0.058936
prestige_3.0 -2.014579 -0.662776
prestige_4.0 -2.371624 -0.735197
intercept    -6.116077 -1.637631

In [63]:
conf['OR'] = params
conf.columns = ['2.5%', '97.5%', 'OR']

print conf

                  2.5%     97.5%        OR
gre           0.000074  0.004362  0.002218
gpa           0.127619  1.431056  0.779337
prestige_2.0 -1.301337 -0.058936 -0.680137
prestige_3.0 -2.014579 -0.662776 -1.338677
prestige_4.0 -2.371624 -0.735197 -1.553411
intercept    -6.116077 -1.637631 -3.876854

In [64]:
print np.exp(conf)

                  2.5%     97.5%        OR
gre           1.000074  1.004372  1.002221
gpa           1.136120  4.183113  2.180027
prestige_2.0  0.272168  0.942767  0.506548
prestige_3.0  0.133377  0.515419  0.262192
prestige_4.0  0.093329  0.479411  0.211525
intercept     0.002207  0.194440  0.020716

#### 4.5 Interpret the OR of Prestige_2

Answer: The odds of an applicant being accepted from an undergrad with a prestige score of 2 are significantly less than students from schools with a prestige of 1 and higher than that of students from schools with a prestige of 3 or 4.

#### 4.6 Interpret the OR of GPA

Answer:

## Part 5: Predicted probablities

As a way of evaluating our classifier, we're going to recreate the dataset with every logical combination of input values. This will allow us to see how the predicted probability of admission increases/decreases across different variables. First we're going to generate the combinations using a helper function called cartesian (above).

We're going to use np.linspace to create a range of values for "gre" and "gpa". This creates a range of linearly spaced values from a specified min and maximum value--in our case just the min/max observed values.

In [97]:
def cartesian(arrays, out=None):
    """
    Generate a cartesian product of input arrays.
    Parameters
    ----------
    arrays : list of array-like
        1-D arrays to form the cartesian product of.
    out : ndarray
        Array to place the cartesian product in.
    Returns
    -------
    out : ndarray
        2-D array of shape (M, len(arrays)) containing cartesian products
        formed of input arrays.
    Examples
    --------
    >>> cartesian(([1, 2, 3], [4, 5], [6, 7]))
    array([[1, 4, 6],
           [1, 4, 7],
           [1, 5, 6],
           [1, 5, 7],
           [2, 4, 6],
           [2, 4, 7],
           [2, 5, 6],
           [2, 5, 7],
           [3, 4, 6],
           [3, 4, 7],
           [3, 5, 6],
           [3, 5, 7]])
    """

    arrays = [np.asarray(x) for x in arrays]
    dtype = arrays[0].dtype

    n = np.prod([x.size for x in arrays])
    if out is None:
        out = np.zeros([n, len(arrays)], dtype=dtype)

    m = n / arrays[0].size
    out[:,0] = np.repeat(arrays[0], m)
    if arrays[1:]:
        cartesian(arrays[1:], out=out[0:m,1:])
        for j in xrange(1, arrays[0].size):
            out[j*m:(j+1)*m,1:] = out[0:m,1:]
    return out

In [98]:
# instead of generating all possible values of GRE and GPA, we're going
# to use an evenly spaced range of 10 values from the min to the max 
gres = np.linspace(data['gre'].min(), data['gre'].max(), 10)
print gres
# array([ 220.        ,  284.44444444,  348.88888889,  413.33333333,
#         477.77777778,  542.22222222,  606.66666667,  671.11111111,
#         735.55555556,  800.        ])
gpas = np.linspace(data['gpa'].min(), data['gpa'].max(), 10)
print gpas
# array([ 2.26      ,  2.45333333,  2.64666667,  2.84      ,  3.03333333,
#         3.22666667,  3.42      ,  3.61333333,  3.80666667,  4.        ])


# enumerate all possibilities
combos = pd.DataFrame(cartesian([gres, gpas, [1, 2, 3, 4], [1.]]))
print combos.head()

[ 220.          284.44444444  348.88888889  413.33333333  477.77777778
  542.22222222  606.66666667  671.11111111  735.55555556  800.        ]
[ 2.26        2.45333333  2.64666667  2.84        3.03333333  3.22666667
  3.42        3.61333333  3.80666667  4.        ]
       0         1    2    3
0  220.0  2.260000  1.0  1.0
1  220.0  2.260000  2.0  1.0
2  220.0  2.260000  3.0  1.0
3  220.0  2.260000  4.0  1.0
4  220.0  2.453333  1.0  1.0

#### 5.1 Recreate the dummy variables

In [99]:
# recreate the dummy variables
combos.columns = ['gre', 'gpa', 'prestige', 'intercept']
dummies = pd.get_dummies(combos['prestige'], prefix='prestige', drop_first=True)

# keep only what we need for making predictions
cols_to_keep = ['gre', 'gpa', 'prestige', 'intercept']
combos = combos[cols_to_keep].join(dummies.ix[:, 'prestige_2':])

In [100]:
combos.head()

,gre,gpa,prestige,intercept,prestige_2.0,prestige_3.0,prestige_4.0
0,220.0,2.260000,1.0,1.0,0.0,0.0,0.0
1,220.0,2.260000,2.0,1.0,1.0,0.0,0.0
2,220.0,2.260000,3.0,1.0,0.0,1.0,0.0
3,220.0,2.260000,4.0,1.0,0.0,0.0,1.0
4,220.0,2.453333,1.0,1.0,0.0,0.0,0.0

#### 5.2 Make predictions on the enumerated dataset

In [102]:
combos['prediction'] = result.predict(combos[train_cols])
combos.tail(4)

,gre,gpa,prestige,intercept,prestige_2.0,prestige_3.0,prestige_4.0,prediction
396,800.0,4.0,1.0,1.0,0.0,0.0,0.0,0.734040
397,800.0,4.0,2.0,1.0,1.0,0.0,0.0,0.582995
398,800.0,4.0,3.0,1.0,0.0,1.0,0.0,0.419833
399,800.0,4.0,4.0,1.0,0.0,0.0,1.0,0.368608

#### 5.3 Interpret findings for the last 4 observations

Answer: With a gre of 800 and a gpa of 4.0, the higher the prestige of a student's undergrad, the better chance they have of being accepted into grad school at UCLA.

## Bonus

Plot the probability of being admitted into graduate school, stratified by GPA and GRE score.