In [12]:
import pandas as pd
import numpy as np
import os

a = 'lessons/lesson-02'

In [2]:
data = pd.read_csv(os.path.join(a, 'assets', 'dataset', 'ozone.csv'))

In [5]:
for value in data.columns.values:
    print value

Ozone
Solar.R
Wind
Temp
Month
Day

In [6]:
data.head(2)

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2

In [7]:
len(data)

153

In [8]:
data.tail(2)

     Ozone  Solar.R  Wind  Temp  Month  Day
151   18.0    131.0   8.0    76      9   29
152   20.0    223.0  11.5    68      9   30

In [9]:
data['Ozone'].iloc[46]

21.0

In [11]:
sum(data['Ozone'].isnull())

37

In [15]:
data['Ozone'].mean(skipna = True)

42.12931034482759

In [20]:
data[(data['Ozone'] > 31) & (data['Temp'] > 90)]['Solar.R'].mean()

212.8

In [21]:
data[data['Month'] == 6]['Temp'].mean()

79.1

In [22]:
data[data['Month'] == 5]['Ozone'].max()

115.0