# Lesson 3 Lab:  Practical Pandas

_This is a quiz given in Roger Peng's [Coursera](https://www.coursera.org) class [Computing for Data Analysis](https://www.coursera.org/course/compdata).  _

_Sourced from [Research Computing MeetUp's](https://github.com/ResearchComputing/Meetup-Fall-2013) Python course._

In [27]:
import pandas as pd
import os

In [28]:
data = pd.read_csv('../../lesson-02/assets/dataset/ozone.csv')

In [29]:
data.columns.values

array(['Ozone', 'Solar.R', 'Wind', 'Temp', 'Month', 'Day'], dtype=object)

Print the column names of the dataset to the screen, one column name per line.

In [30]:
for value in data.columns.values:
    print value

Ozone
Solar.R
Wind
Temp
Month
Day

Extract the first 2 rows of the data frame and print them to the console. What does the output
look like?

In [31]:
data.head(2)

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2

In [32]:
data.iloc[0:2]

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2

How many observations (i.e. rows) are in this data frame?

In [33]:
len(data)

153

Extract the last 2 rows of the data frame and print them to the console. What does the output
look like?

In [34]:
data.tail(2)

     Ozone  Solar.R  Wind  Temp  Month  Day
151   18.0    131.0   8.0    76      9   29
152   20.0    223.0  11.5    68      9   30

What is the value of Ozone in the 47th row?

In [35]:
data.iloc[46,0]

21.0

How many missing values are in the Ozone column of this data frame?

In [36]:
data['Ozone'].isnull().sum()

37

In [37]:
sum(data['Ozone'].isnull())

37

In [38]:
data['Ozone'].value_counts(dropna=False)

NaN       37
 23.0      6
 13.0      4
 14.0      4
 16.0      4
 18.0      4
 20.0      4
 21.0      4
 32.0      3
 7.0       3
 9.0       3
 11.0      3
 28.0      3
 44.0      3
 64.0      2
 78.0      2
 30.0      2
 24.0      2
 73.0      2
 85.0      2
 97.0      2
 35.0      2
 45.0      2
 36.0      2
 37.0      2
 59.0      2
 39.0      2
 12.0      2
 91.0      1
 80.0      1
          ..
 10.0      1
 118.0     1
 8.0       1
 122.0     1
 6.0       1
 4.0       1
 1.0       1
 27.0      1
 34.0      1
 29.0      1
 50.0      1
 77.0      1
 76.0      1
 71.0      1
 66.0      1
 65.0      1
 63.0      1
 61.0      1
 52.0      1
 49.0      1
 31.0      1
 48.0      1
 47.0      1
 46.0      1
 135.0     1
 41.0      1
 40.0      1
 79.0      1
 82.0      1
 168.0     1
Name: Ozone, dtype: int64

In [39]:
data[['Ozone']].isnull().count(axis=0) - data[['Ozone']].count(axis=0)

Ozone    37
dtype: int64

What is the mean of the Ozone column in this dataset? Exclude missing values (coded as NA)
from this calculation.

In [40]:
data.mean(skipna=True)

Ozone       42.129310
Solar.R    185.931507
Wind         9.957516
Temp        77.882353
Month        6.993464
Day         15.803922
dtype: float64

Extract the subset of rows of the data frame where Ozone values are above 31 and Temp values
are above 90. What is the mean of Solar.R in this subset?

In [41]:
data[(data['Ozone'] > 31) & (data['Temp'] > 90)]['Solar.R'].mean() # & logical indexing operator and

212.8

In [42]:
data[(data['Ozone'] > 31) | (data['Temp'] > 90)]['Solar.R'].mean() # | logical indexing operator or

217.79661016949152

What is the mean of "Temp" when "Month" is equal to 6?

In [43]:
data[data['Month'] == 6]['Temp'].mean()

79.1

What was the maximum ozone value in the month of May (i.e. Month = 5)?

In [44]:
data[data['Month'] == 5]["Ozone"].max()

115.0

# Next Steps

**Recommended Resources**

Name | Description
--- | ---
[Official Pandas Tutorials](http://pandas.pydata.org/pandas-docs/stable/tutorials.html) | Wes & Company's selection of tutorials and lectures
[Julia Evans Pandas Cookbook](https://github.com/jvns/pandas-cookbook) | Great resource with eamples from weather, bikes and 311 calls
[Learn Pandas Tutorials](https://bitbucket.org/hrojas/learn-pandas) | A great series of Pandas tutorials from Dave Rojas
[Research Computing Python Data PYNBs](https://github.com/ResearchComputing/Meetup-Fall-2013/tree/master/python) | A super awesome set of python notebooks from a meetup-based course exclusively devoted to pandas